html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid;
}
header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

main {
  min-height: calc(100vh - 27em);
  padding: 1em;
}

.post {
  max-width: 540px;
  padding: 20px;
  margin: 2em auto;
  border: 1px solid black;
  overflow: hidden;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .post {
    padding: 20px 40px;
    border-color: white;
  }
  .post:hover {
    border-color: black;
  }
}
.post p {
  overflow: hidden;
}
.post .date {
  margin-bottom: -1em;
}
.post iframe {
  margin: 0 0 -.4em;
  /*max-width: calc(100% - 14px);*/
  width: calc(100% + 95px);
  padding: 4px 10px 4px 4px;
  background: black;
}
footer {
  position: relative;
  margin-top: 10em;
  padding: 1em 1em 0;
  border-top: 1px solid black;
  font-size: 13px;
}
.footer-inner {
  padding: 20px;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .footer-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 540px;
    margin: 4em auto;
  }
}
footer .about {
  max-width: 400px;
  margin-bottom: 2em;
}
footer .links {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer img {

}
footer .computer {
  width: 170px;
  margin: -4em 0 0 13%;
}
footer .human {
  width: 190px;
  margin: -4em 0 -7px 33%;
}
@media (min-width: 1024px) {
  footer img {
    position: absolute;
  }
  footer .computer {
    width: 170px;
    top: -50px;
    left: calc(50vw - 300px - 15vw);
    margin: 0;
  }
  footer .human {
    width: 190px;
    top: -104px;
    right: calc(50vw - 300px - 15vw);
    margin: 0;
  }
}
