---
layout: layouts/home.njk
---

{% for post in posts | reverse %}
  <div class="content">
    <div class='post'>
      <p class="date">{{ post.publishedAt | readableDate }}</p>
      <p>{{ post.title }}</p>
      <p>{{ post.soundcloudWidget | safe }}</p>
      <p>{{ post.body }}</p>
    </div>
  </div>
{% endfor %}
